@media (max-width:1281px) { /* hi-res laptops and desktops */ 
	.text-container{
		width: 70%;	
	}
	
	#projetsList{
		display: none;
	}
	/*#random-text, #ghost-text{
		//word-wrap: break-word;
		font-size:4em;
	}*/
	/*.text{
		padding: 10px;
	}*/
}

@media (max-width:1024px)  {	
	/* big landscape tablets, laptops, and desktops */
	.bg-video{
		width: 70%;
		margin-top: 1em;
	}
	.projListCon p{
		padding-top: 1em;
		font-size: 0.7em;
	}
	.no-tablet{
		display: none;
	}
	.profile-square{
	    width: 50%;
    	height: 25vh;
	}
	.bar{
		height: auto;
	}
	.youval-pic-bottom-tablet img{
		visibility: visible;
	}	
	/*#random-text, #ghost-text{
		font-size:4em;
	}*/
}

@media (max-width:768px)  {	
	.text{
		padding: 5px;
		font-size:3em;
	}
	#random-text, #ghost-text{
		line-height: 3em;
	}
	.projListCon p {
	    font-size: 0.9em;
	}
	.projListCon h2 {
	    margin-bottom: -0.75em;
	}
	.prevLink img, .nextLink img {
		width: 65px;
	}
	/* smartphones, Android phones, landscape iPhone */
	.spacer{
		height: 5em;
	}
	.text{
		font-size:2em;
		padding: 2px;
	}
	.main, .css-threed, .header-el{
		padding: 20px 20px;
	}
	.main{
		padding-left: 15px;
	}
	#projetsReview{
		padding: 5em 40px;		
	}
	.header-el, #projetsReview, .arrow-down, .back-container, .projetNav, .allProj{
		zoom:0.6;
	}
	.arrow-down p{
	    top: -22px;
	}
	.projetContent{
		//zoom:0.8;
		padding-top: 40px;
	}
	.box {
        width: 100%; 
        height: auto; 
        float: none; 
        clear: both;
        font-size: 0.9em;
    }
    .boxContent {
    	padding: 25% 10%;
    }
	.content-num-contain{
		position: relative;
	    top: -4em;
	    left: -3em;
	}
	.projet-text{
		position: relative;
    	z-index: 1;
	}
	.projListCon{
		width: 120%;
        display: block;
        height: 40vh;
        position: relative;
        left: -10%;
	}
	.projListCon .text{
        color: rgba(0,0,0,1);
        opacity: 1;
	}
	.screen-video{
	    padding-top: 10px;
	}
	.contentTitle{
		top:25px;
	}
	.arrow-down{
		zoom:1;
	}
	.arrow-down{
		zoom: 1.3;
		bottom:2em;
	}
	#nav{
		height: 50px;
	}
	.youval-pic-top-desktop{
		bottom:4px;
	}
	.inner-text{
		font-size: 0.7em;
		line-height: 0.2em;
	}
	.profile-inner{
	    word-wrap: break-word;
	}
	#close-profile{
	    top: -1em;
    	left: 2.5em;
	}
	#random-text, #ghost-text {
		line-height: 2em;
	}
	.no-mobile{
		display: none !important;
	}
	.no-desktop{
		display: block !important;
	}
	.header{
		width: 100%;
		padding-bottom: 0;
	}
	.header-el{
		zoom:1;
	}
	.mobile-burger{
		display: inline-block;
	    position: absolute;
	    left: 46.5%;
	    top:1em;
	    //zoom: 1.2;
	    transform: scale(1.2);
	}
	.mobile-profile-btn{
		zoom: 1.6;
	    margin-right: 0.4em !important;
	    top: 0.45em;
	}
	.navFirst{
		position: relative;
	}
	.menu-container{
		opacity: 0 !important;
	}
	.text-container{
		height: auto;
	}
	.prevLink img, .nextLink img {
		width: 55px;
	}
	#projetsList{
		display: block;
	}
	#nav .social {
		width: 19px;
		height: 16px;
	}
	#nav .social a {
		font-size: .7rem;
	}
	.profile-content .social a {
		top: 0;
	}
}

@media (max-width:480px)  {	
	.mobile-burger{
	    left: 43.5%;
	}
	.youval-image {
		right: -35px;
	}
}
