<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
       <!--  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        <title>Youval Tayar | Freelance Art Director Paris</title>        
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <!-- <p class="nav-control">
            <a href="#/">&larr; Home</a>
            <a href="#!/menu">Menu &rarr;</a>
            <a href="#!/projets/ensemble-correspondance">Project &rarr;</a>
        </p> -->

        <div class="page loader is-visible">            
            <div class="loader-inner">
                <div class="loader-inner-contain">
                    <div class="img-contain">
                        <img class="loader-img-anim" height="250" width="250" src="images/logo-blk.svg"/>
                        <img class="loader-img-inner" src="images/y.png"/>
                    </div><br/>
                    <div>
                        <div class="progress-bar">
                            <div class="progress-inner"></div>
                        </div>
                        <br/>Loading
                    </div><br/>
                    <div id="progress">0 %</div>
                </div>            
            </div>            
        </div>  

        <div class="page outer profile-content is-visible">
            <div class="close-profile-wrapper">
                <div class="close-profile-wrapper-in">
                    <div id="close-profile">
                        <div class="cross-container">
                            <div class="close-top"></div>
                            <div class="close-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bar">
                <div class="profile-square">
                    <div class="profile-inner bg-white"><span class="inner-text">I'm Youval, <br/>Freelance Art Director</span></div>
                </div>
                <div class="profile-square no-phone">
                    <div class="profile-inner"></div>
                </div>
                <div class="profile-square no-tablet">
                    <div class="profile-inner"></div>
                </div>
                <div class="profile-square no-tablet">
                    <div class="profile-inner"></div>
                </div>
            </div>
            <div class="bar">
                <div class="profile-square">
                    <div class="profile-inner youval-pic-top-phone"></div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner youval-pic-top">
                        <!-- <img src="images/youval-tayar-top.jpg" class="youval-image"/> -->
                    </div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner bg-white"><span class="inner-text">"I tackle all my new creations with the ambition to make them memorable, both beautiful and useful."</span></div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner youval-pic-bottom-tablet"></div>
                </div>
            </div>
            <div class="bar">
                <div class="profile-square no-tablet">
                    <div class="profile-inner"></div>
                </div>
                <div class="profile-square no-tablet">
                    <div class="profile-inner youval-pic-bottom">
                        <!-- <img src="images/youval-tayar-bottom.jpg" class="youval-image"/> -->
                    </div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner bg-black"></div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner bg-white"><span class="inner-text">bonjour@youvaltayar.com</span></div>
                </div>
            </div>
            <div class="bar">
                <div class="profile-square">
                    <div class="profile-inner"></div>
                </div>
                <div class="profile-square">
                    <div class="profile-inner bg-grey"><span class="inner-text">bonjour@youvaltayar.com<br/>Fb._Tw._Li</span></div>
                </div>
                <div class="profile-square no-tablet">
                    <div class="profile-inner"></div>
                </div>
                <div class="profile-square no-tablet">
                    <div class="profile-inner"></div>
                </div>
            </div>
        </div>
        
        <div class="page outer main is-visible">            
        </div>

        <div class="page outer css-threed">
            <div class="header-el"></div>
        </div>

        <div class="page webGL home-container">
        </div>

        <div class="page webGL project-container">
        </div>

        <div class="page webGL menu-container">
        </div>

        <script type="text/template" name="header">
            <header class="header">
                <a class="home-link" title="Home">
                    <img class="y-logo-img" src="images/y.png"/>
                    <img src="images/logo-blk.svg"/>
                </a>
                <h1>I'm <span class="profile">Youval</span>, <br/>Freelance <br class="yes-phone"/>Art Director</h1>
            </header>
            <nav id="nav">
                <a class="burger">
                    <div class="menu-line-container">
                        <div id="menu-line1" class="menu-line"></div>
                        <div id="menu-line2" class="menu-line"></div>
                        <div id="menu-line3" class="menu-line"></div>
                    </div>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </a>
                <div id="social-icons">
                    <a href="">
                        <div class="social"><a href="https://www.facebook.com/youvaltayar/" target="_blank"><i class="icon-facebook"></i></a></div>
                    </a>
                    <a href="">
                        <div class="social"><a href="https://twitter.com/youval_tayar" target="_blank"><i class="icon-twitter"></i></a></div>
                    </a>
                    <a href="">
                        <div class="social"><a href="https://www.linkedin.com/in/youval-tayar-07201125/" target="_blank"><i class="icon-linkedin"></i></a></div>
                    </a>
                    <a href="">
                        <div class="social"><a href="mailto:bonjour@youvaltayar.com"><i class="icon-envelope"></i></a></div>
                    </a>
                </div>
            </nav>
        </script>
        
        <script type="text/template" name="main">
            <div class="header-el"></div>
            <div id="projetsReview">
            </div>
            <div class="arrow-down">
                <div class="down-btn" >
                    <svg width="25" height="25">
                        <rect width="25" height="25" class="arrow-down-rect" />
                    </svg>
                    <p><i class="icon-angle-down"></i></p>         
                </div>
            </div>
            <div class="back-container">
                <svg height="5" width="55" id="top-svg">
                    <line x1="0" y1="0" x2="55" y2="0" />
                </svg>
                BACK
                <svg height="5" width="55" id="bottom-svg">
                    <line x1="0" y1="0" x2="55" y2="0" />
                </svg>
            </div>
            <div class="text-container">
                <div id="random-text">
                </div>
                <div id="ghost-text">
                </div>
            </div>
            <div id="projetsList">
            </div>
        </script>

        <script type="text/template" name="home">
            <h1>Home</h1>
        </script>

        <script type="text/template" name="menu">
            <h1>Menu</h1>
        </script>

        <script type="text/template" name="projet">
            <div class="project-bg"></div>
            <div class="projetContent" id="projet_<%= pr.origIndex %>" >
                <div class="projetNav">
                    <a class="clientLink">
                        <span>The Client</span>
                        <div class="p-bar cl-bar">
                            <div class="child-bar"></div>
                        </div>
                    </a>
                    <img src="images/list-img.png">
                    <a class="projetLink">
                        <span>The Project</span>
                        <div class="p-bar pr-bar">
                            <div class="child-bar"></div>
                        </div>
                    </a>
                    <img src="images/list-img.png">
                    <a class="resultatLink">
                        <span>The result</span>
                        <div class="p-bar re-bar">
                        <div class="child-bar"></div>
                        </div>
                    </a>
                </div>
                <div class="clientBox box">
                    <div id="trigger1"></div>
                    <div class="boxContent">
                        <div class="contentNumber">001</div>
                        <div class="numOverlay"></div>
                        <div class="line-down"></div>
                        <p><%= pr.clientBox %></p>
                    </div>
                </div>    
                <div class='rightBox box backgroundCover' style='background-image:url(<%= pr.rightBox %>)'></div>
                <div class='leftBox box'>
                    <div id="trigger2"></div>
                    <div class='boxContent'>
                        <p><%= pr.leftBoxBottom %></p>
                    </div>
                </div>
                <div class='projetBox box'>
                    <div class='boxContent'>
                        <div class='contentNumber white'>002</div>
                        <div class='numOverlay'></div>
                        <div class='line-down white'></div>
                        <p><%= pr.projetBox %></p>
                    </div>
                </div>
                <div class='fullBox1 box backgroundCover' style='background-image:url(<%= pr.fullBox1 %>)'><div id="trigger3"></div></div>
                <div class='resultatBox box'>
                    <div id="trigger4"></div>
                    <div class='boxContent'>
                        <div class='contentNumber white'>003</div>
                        <div class='numOverlay'></div>
                        <div class='line-down white'></div>
                        <p><%= pr.resultatBox %></p>
                    </div>
                </div>
                <div class='resultatBoxRight box'>
                    <div class='boxContent'>
                        <p><%= pr.resultatBoxRight %></p>
                    </div>
                </div>
                <div class='resultatBoxLogoLeft box'>
                    <div id="trigger5"></div>
                    <div class='boxContent'>
                        <div class='contentTitle'>Logotype</div>
                        <%= pr.resultatLogo %>
                    </div>
                </div>
                <div class='resultatBoxLogoCenter box'>
                    <div class='boxContent'>
                        <p><%= pr.resultatFont %></p>
                    </div>
                </div>
                <div class='resultatBoxLogoRight box'>
                    <div class='boxContent'>
                        <p><%= pr.resultatColor %></p>
                    </div>
                </div>
                <% if (typeof(pr.resultatBoxLogoFull) !== "undefined") { %>
                    <div class='resultatBoxLogoFull box backgroundCover' style='background-image:url(<%= pr.resultatBoxLogoFull %>)'>
                        <div id="trigger6"></div>
                    </div>
                <% }else{ %>
                    <div id="trigger6"></div>
                <% } %>
                <div class='resultatBoxFull box'>
                    <div id="trigger7"></div>
                    <div class='boxContent'>
                        <div class='contentTitle'>Website</div>
                        <p><%= pr.resultatBoxFull %></p>
                    </div>
                </div>
                <div class='resultatBox1 box'>
                    <div id="trigger8"></div>
                    <div class='boxContent'>
                        <p><%= pr.resultatBox1 %></p>
                    </div>
                </div>
                <div class='rightBox box'>
                    <div class='resultatBox2 backgroundCover' style='background-image:url(<%= pr.resultatBox2 %>)'>
                    </div>
                    <div class='resultatBox3'>
                        <div class='square-result'></div>
                        <div class='boxContent'>
                            <p><%= pr.resultatBox3 %></p>
                        </div>
                    </div>
                </div>
                <div class='navBox'>
                    <ul>
                        <li style='text-align: left;'><a class='prevLink'><img src='images/arrow-left.png'></a></li>
                        <li>
                            <a class='burger allProj'>
                            <div class='menu-line-container'>
                                <div id='menu-line1' class='menu-line'></div>
                                <div id='menu-line2' class='menu-line'></div>
                                <div id='menu-line3' class='menu-line'></div>
                            </div>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            </a>
                        </li>     
                        <li><a class='nextLink'><img src='images/arrow-right.png'></a></li>
                    </ul>
                </div>
            </div>           
        </script>

        <script type="text/template" name="random-text">
            <%= para %>
        </script>

        <script type="text/template" name="projetsReview">
            <% _.each(projets, function(pr, index) { %> 
                <div class='reviewContainer'>
                    <p class='projetNumber'>0<%= index+1 %></p>
                    <div class='projetsDetails'>
                        <svg width="30" height="30">
                            <path d="M35 35 L0 0" />
                        </svg>
                        <div class="project-info">
                            <h2><%= pr.titre %></h2>
                            <p><%= pr.infos1 %><br/><%= pr.infos2 %></p>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </script>

        <script type="text/template" name="menuProjets">
            <% _.each(projets, function(pr, index) { %> 
                <div class="projListCon">
                    <a class="menuProjLink" href="#!/projets/<%= pr.url %>">
                        <div class="white-layer">
                            <div class="white-layer-table">
                                <div class="white-layer-inner">
                                    <div style="position:relative;" class="text"><%= pr.firstLetter %></div>
                                </div>
                            </div>
                        </div>
                        <div class="projetsDetails">
                           <div class="projDetInner">
                               <h2><%= pr.menutitre %></h2>
                               <p><%= pr.infos1 %><br/><%= pr.infos2 %></p>
                           </div>
                        </div>
                    </a> 
                </div>
            <% }) %> 
        </script>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/three.min.js"></script>
        <script type="text/javascript" src="js/CSS3DRenderer.js"></script>
        <script type="text/javascript" src="js/OrbitControls.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script></script>
        <script type="text/javascript" src="js/ScrollToPlugin.js"></script>
        <script type="text/javascript" src="js/ScrollMagic.js"></script>
        <script type="text/javascript" src="js/animation.gsap.js"></script>
        <script type="text/javascript" src="js/debug.addIndicators.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
